<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LILI</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <style>
    .tableName{
        width: 50% !important;
        margin: auto;
    }
    </style>
</head>

<body>
    <div class="row">
        <div class="head col-sm-12 text-center">
            <h1 class="title "> Controle</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">           
             <div class="btn-group" role="group" aria-label="Basic example">
               <button name="control" id="data" type="button" class="btn btn-secondary">Datas</button>
               <button name="control" id="impressora" type="button" class="btn btn-secondary">impressora</button>
               <button name="control" id="transmissao" type="button" class="btn btn-secondary">Transmissão</button>
               <button name="control" id="tela"type="button" class="btn btn-secondary">Tela</button>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12" id="append"></div>
            <iframe href="http://192.168.0.6:4747/video" frameborder="0"></iframe>
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-danger" id="teste"> Adicionar na tela</button>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/handlebars/dist/handlebars.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
<script>
    $(() =>{
        const socket = io();
        var tela;
    $('[name="control"]').click(function(){
       switch ($(this).attr('id')) {
           case 'data':
              $('#append').load('/datas');
              tela = 1;
               break;
           case 'impressora':
           $('#append').load('/impressoras');
           tela = 2;
               break;
           case 'transmissao':
           $('#append').load('/transmissoes');
           tela = 3
               break;
           case 'tela':
           $('#append').load('/telas');
           tela = 4;
               break;
                   default:
               break;
       }
       socket.emit('alterPage', tela);

    });

 
});


</script>
</html>