<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LILI</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .backgound-image {
            background-image: url("/cien-computacao.jpg");
            background-color: #cccccc;
            height: 600px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: center ;
        }
    </style>
</head>

<body class="backgound-image">
    <div class="row">
        <div class="col-sm-12" id="tranferencia">

        </div>
    </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        $(()=>{
            const socket = io();
        })
    </script>
    
</body>

</html>